.navbar {
  background-color: var(--yellow-theme-nav-background-color);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; // para limitar en pantallas grandes
    padding: 0 20px;

    &_logo {
      color: var(--yellow-theme-main-color);
      cursor: pointer;
    }

    &_menu {
      display: flex;
      list-style: none;
      text-align: center;

      &_item {
        margin-right: 1.5rem;
        font-size: 1.6rem;

        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: transparent;
          transition: all 0.5s ease;
        }

        &:hover::after {
          width: 100%;
          background: var(--yellow-theme-main-color);
        }

        &_links {
          color: var(--yellow-theme-main-color);
          text-decoration: none;
          padding: 0.5rem;
          display: block;
        }
      }
    }
  }
}

.nav_icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar_container_menu {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    background: var(--yellow-theme-nav-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.5s ease-in-out;
    overflow-y: auto;
    z-index: 1000;

    &.active {
      left: 0;
    }

    &_item {
      width: 100%;
      border-bottom: 1px solid #181818;

      &_links {
        display: block;
        width: 100%;
        padding: 20px;
        font-size: 1.8rem;
        color: var(--yellow-theme-main-color);
        text-align: center;
        text-decoration: none;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  .nav_icon {
    display: block;
    cursor: pointer;
    color: var(--yellow-theme-main-color);
    padding-right: 10px;
  }
}
